@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h4 style="text-align:center">Below are the list of courses which you can learn and then give the exam</h4>
<h3 style="text-align:center">Happy learning!!!!</h3>
<hr />
<a href="https://lms.sonata-software.com/course/view.php?id=475" target="_blank">C# LMS Tutorial</a>
<br />
<a href="https://lms.sonata-software.com/course/view.php?id=474" target="_blank">ASP .NET CORE</a>
<br />
<a href="https://lms.sonata-software.com/course/view.php?id=472" target="_blank">Angular</a>
<br />
<a href="https://lms.sonata-software.com/course/view.php?id=477" target="_blank">JQuery</a>
<br />
<a href="https://lms.sonata-software.com/course/view.php?id=476" target="_blank">Javascript</a>
<br />
<h3>For any other courses please go to the link and search the course name <a href="https://lms.sonata-software.com/my/">LMS link</a></h3>