@model IEnumerable<QuestionAndAnswerMVC.Models.TechnologyViewModel>
@{
    ViewBag.Title = "GetTechnologies";
}
@if (Session["UserId"] != null)
{
    <h4 style="text-align:right">UserId @Session["UserId"]</h4>
}
@using (Html.BeginForm("GetTechnologies", "QuestionsAndAnswers", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" id="technologiesControl">
        <div class="demo-section k-content">
            <h4>Select Technology</h4>
            <hr />
            <div class="col-md-10">
                @foreach (var item in Model)
                {
                    @*@Html.RadioButton("TechnologyId",item.TechnologyId, new { id = item.TechnologyId })@item.TechnologyName*@                    
                    @(Html.Kendo().RadioButton().Name("TechnologyId").Value(item.TechnologyId))@item.TechnologyName                    
                }
            </div>
            <br />
        </div>
        <br />
        <div>
            <div class="k-action-button col-md-10">
                <button class="btn btn-success" type="submit" id="technologySubmit">Next</button>
            </div>
        </div>
    </div>
}

@*<script>
        $(document).ready(function () {
            $('input[name="TechnologyName"]').click(function () {
                var $radio = $('input[name=TechnologyName]:checked');
                var id = $radio.attr('id');
            });
        });
    </script>*@