@model IEnumerable<QuestionAndAnswerMVC.Models.TechnologyViewModel>
@{
    ViewBag.Title = "GetTechnologies";
}

@using (@*Html.BeginForm("GetTechnologies","QuestionsAndAnswers", FormMethod.Post)*@)
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" id="technologiesControl">
        <div class="demo-section k-content">
            <h4>Select technology for which you want to take test</h4>
            <div class="col-md-10">
                @foreach (var item in Model)
                {
                    @(Html.Kendo().RadioButton().Name("rdbutton"))
                    @*<input id="Radio1" type="radio" name="rdbutton" />*@
                    @item.TechnologyName
                }
            </div>
            <br />
        </div>
        <br />
        <div>
            <div class="k-action-button col-md-10">
                <button class="btn btn-primary" type="submit" id="technologySubmit">Next</button>
            </div>
        </div>
    </div>
}
